.contact{
    background-color: var(--colorSecondary);
    min-height: 50vh;
    border-top: 1px solid #5756564f;
    overflow: hidden;
    padding-bottom: 40px;
}

.contactWrapper{
    margin: 20px 0;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contactWrapper .formWrapper{
    border-right: 1px solid #ccc;
    overflow: auto;
}

.formWrapper form{
    margin-top: 20px;
}

.inputWrapper{
    border-bottom: 2px solid var(--colorAccent);
    margin: 40px 0;
    position: relative; 
    margin-right: 10px;
}


.textareaWrapper p{
    color: #888;
    margin-bottom: 5px;
}

.textareaWrapper textarea{
    width: calc(100% - 10px);
    min-height: 150px;
    background-color: transparent;
}

.inputWrapper input{
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    padding:  5px;
}

.inputWrapper p{
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    color: #888;
}

.inputWrapper input:focus + p,
.inputWrapper input:valid + p{
    margin-bottom: 25px;
}

.formWrapper button{
    border: none;
    outline: none;
    background-color: var(--colorAccent);
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.formWrapper button:hover{
    background-color: #0046a1;
}

.formBottom{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    display: flex;
}

.formBottom p{
    color: #a1a1a1;
}

.formBottom div{
    display: flex;
    flex-wrap: wrap;
}

.formBottom div a{
    text-decoration: none;
    color: #8a8a8a;
    margin-left: 20px;
}

@media screen and (max-width: 700px){
    .contactWrapper{
        grid-template-columns: 1fr;
    }
    .contactWrapper .formWrapper{
        border: none;
    }
    .contactWrapper .formWrapper{
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
}

.mapWrapper{
    padding-left: 10px;
}

.address{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.address .wrapper{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.address .wrapper:nth-child(1){
    margin-left: 0;
}

.address .addresInner{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.address .addresInner p{
    font-size: 12px;
}

.mapWrapper .map {
    margin-top: 20px;
}

@media screen and (max-width: 700px){
    .address{
        flex-direction: column;
        align-items: flex-start;
    }
    .address .wrapper{
        margin: 10px 0;
    }
}