.homeWrapper {
  min-height: 100vh;
  position: relative;
}

.homeTop {
  background-color: var(--colorAccent);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 74vh;
  overflow: hidden;
}

.homeTop::before,
.homeTop::after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background: var(--gradientBg);
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.homeTop::before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 10s;
}

.homeTop::after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

/* ----------------------logo------------------------- */
.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo #arrows {
  animation: rotateLogo 5s linear infinite alternate;
  animation-fill-mode: forwards;
  transform-origin: center;
}

.logo #letters {
  animation: scaleLogo 0.7s linear infinite alternate;
  animation-fill-mode: forwards;
  transform-origin: center;
}

.logo #Global {
  animation: pushRightLogo 0.5s linear infinite alternate;
  /* animation-fill-mode: forwards; */
  transform-origin: center;
}

@keyframes rotateLogo {
  100% {
    transform: skewX(1turn);
    transform: skewY(1turn);
  }
}

@keyframes scaleLogo {
  100% {
    transform: scale(1.2);
  }
}

@keyframes pushRightLogo {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(120px);
  }
}
/* ----------------------logo------------------------- */

.title {
  z-index: 1;
  font-size: 60px;
  font-family: Roboto;
  margin-bottom: 10px;
}

.caption {
  z-index: 1;
  font-size: 24px;
  font-family: Pompire;
}

.homeTop button {
  z-index: 1;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: var(--colorAccent);
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.homeTop button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 770px) {
  .title {
    font-size: 10vw;
    font-weight: bold;
  }
  .caption {
    font-size: 20px;
    text-align: center;
  }
  .homeTop {
    padding: 0 20px;
  }
}

.homeOverlay {
  /* background-color: rgba(255, 0, 0); */
  width: 100%;
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 140px;
}

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 18px -8px #000;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 30px -8px #000;
}

.icon {
  width: 100px;
  height: 100px;
  filter: opacity(0.3);
}

.card h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--colorText1);
}

.card h5 {
  text-align: center;
  font-weight: 500;
  color: var(--colorText2);
}

@media screen and (max-width: 770px) {
  .homeOverlay {
    position: relative;
    bottom: 100px;
  }
}
